footer
  .container
    .row
      .col-md-3
        .logo-footer
          img(src="img/logo-footer.png" alt="Ranyela Gómez - Accesorios")
      .col-md-3.col-md-offset-6
        .social
          span(id="titulo-sociales") ¡Síguenos en las Redes Sociales!
          .social-media
            a(href="#")
              img(src="img/facebook-icon.png" alt="")
            a(href="#")
              img(src="img/twitter-icon.png" alt="")
            a(href="#")
              img(src="img/instagram-icon.png" alt="")
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h5(id="derechos-reservados") Ranyela Gómez Accesorios - Copyright 2014 - Todos los Derechos Reservados - Hecho en Venezuela
          